ol {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #EDF8FF;
  border-radius: 0.25rem;
}

.employee-management {

  .card {
    background: #EDF8FF;

    .card-img-top {
      height: 60px;
      width: 60px;
    }

    .card-header {
      background: none;
      border: none;
    }

    .pull-right {
      float: right;
    }
  }



}
