<p class="m-0">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon class="color-white">assignment</mat-icon>
    </button>
    <span>RTI</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>
<mat-progress-bar mode="indeterminate" *ngIf="isShowLoader"></mat-progress-bar>

<router-outlet></router-outlet>

<nav class="footer-rti text-right">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Thanga Bharani Tharan@{{currentYear}}</li>
  </ol>
</nav>
